{% extends '_base.html' %}

{% block title %}Bookmark an image{% endblock %}

{% block content %}
    <h1>Bookmark an image</h1>
    <hr>
    <div class="row">
        <div class="col-md-5" align="center">
            <img src="{{ request.GET.url }}">
        </div>
        <div class="col-md-7">
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input class="btn btn-outline-primary" type="submit" value="Bookmark"></p>
            </form>
        </div>
    </div>
{% endblock %}